<launch>
    <!-- Run empty world and add to it our world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find myicub_ros)/worlds/icub_realsense.world"/> -->
        <arg name="world_name" value="$(find myicub_ros)/worlds/demo_day_two.world"/>
        <arg name="verbose" value="true"/>
    </include>
</launch>